:root{
    --white-color: #fff;
    --black-color: #000;
    --theme-color: #ff3b00;
}

* {
    box-sizing: inherit;
    list-style: none;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.text-theme{
    color: var(--theme-color);
}
.p-default{
    padding: 6rem 0;
}
