:root{
    --white-color: #fff;
    --black-color: #000;
    --theme-color: #ff3b00;
}

* {
    box-sizing: inherit;
    list-style: inherit;
    text-decoration: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.grid{
    width: 1200px;
    max-width: calc(100% - 60px) ;
    margin: 0 auto;
}

.grid__full-witdh{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.col__half{
    width: 50%;
}

.mt-6{
    margin-top: 6rem;
}


