/* PC */
@media (min-width: 992px) {}


/* Tablet */
@media  (max-width: 991px) {
    html {
        font-size: 50%;
    }

    .header{
        background-color: var(--theme-color);

    }
    .header .header__logo > span{
        color: var(--white-color);
    }
    .main__title .icon>img {
        height: 150px;
    }

    .header .header__nav > li  > a{
        color: var(--white-color);
        text-align: justify;
        display: inline-block;
    }
    .header .header__nav > li:hover >a{
        color: mediumblue;
    }

    .header .register__btn{
        color: darkslateblue !important;
    }
    .header .register__btn:hover{
        background-color: #333 !important;
    }
    .main__slider .carousel-item>img {
        height: 300px;
    }

}

/* Mobile */
@media (max-width: 767px) {
    html {
        font-size: 50%;
    }
}